<!DOCTYPE html>
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
    <main>
    <div id="main-div">
      <%= blog.title %>
      <br />
      <br />
      <%= blog.content %>
      <br />
      <%= blog.author %>
      <br />
      <br />
      <a href="/blogs/delete/<%= blog.id %>"><button class="delete">Delete</button></a>
      <span class="blue"><br><br>Back to Blog Page</span>
    </div>
  </main>
  

  <%- include('partials/footer') %>
  
</body>
</html>
